@using Microsoft.AspNetCore.Html

@{
    IHtmlContent RenderActions()
    {
        var actions = ViewData["Actions"] as IEnumerable<HtmlTemplate> ?? Enumerable.Empty<HtmlTemplate>();
        var builder = new HtmlContentBuilder();

        foreach (var action in actions)
        {
            builder.AppendHtml(action(null));
        }

        return builder;
    }

    IHtmlContent RenderHomeButton()
    {
        var action = ViewContext.RouteData.Values["action"] as string;

        if (action != "Index")
        {
            return ((HtmlTemplate)(@<a title="Back to all tasks" asp-action="Index"><i class="fas fa-arrow-left"></i></a>))(null);
        }

        return new HtmlString("");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/dest/css/main.css" />
        <link rel="stylesheet" type="text/css" href="~/dest/font-awesome/css/all.css">
    </environment>

    <environment include="Production">
        <link rel="stylesheet" type="text/css" href="~/dest/css/main.min.css" />
        <link rel="stylesheet" type="text/css" href="~/dest/font-awesome/css/all.min.css">
    </environment>
</head>
<body>
    <div class="app-container">
        <div class="title-container">
            <div class="home-button-container">
                @RenderHomeButton()
            </div>
            <h1 class="content-title">@ViewData["Title"]</h1>
        </div>
        <div class="content-container">
            @RenderBody()
        </div>
        <div class="actions-container">
            @RenderActions()
        </div>
    </div>
</body>
</html>