@using Microsoft.AspNetCore.Html

@{
    IHtmlContent RenderHomeButton()
    {
        var action = ViewContext.RouteData.Values["action"] as string;

        if (action != "Index")
        {
            return ((HtmlTemplate)(@<a title="Back to all tasks" asp-action="Index"><i class="fas fa-arrow-left"></i></a>))(null);
        }

        return new HtmlString("");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="~/js/rjsconfig.js"></script>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/global.css" />
        <link rel="stylesheet" type="text/css" href="~/css/main.css" />
        <link rel="stylesheet" type="text/css" href="~/css/modal.css" />
        <link rel="stylesheet" type="text/css" href="~/font-awesome/css/all.css">
    </environment>

    <environment include="Production">
        <link rel="stylesheet" type="text/css" href="~/css/global.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/main.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/modal.min.css" />
        <link rel="stylesheet" type="text/css" href="~/font-awesome/css/all.min.css">
    </environment>
</head>
<body>
    <div class="app-container">
        <div class="title-container">
            <div class="home-button-container">
                @RenderHomeButton()
            </div>
            <h1 class="content-title">@ViewData["Title"]</h1>
        </div>
        <div class="content-container">
            @RenderBody()
        </div>
        <div class="actions-container">
            @RenderSection("Actions", required: false)
        </div>
    </div>
    @RenderSection("Overlay", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>