@using Microsoft.AspNetCore.Html

@model ToDo.ViewModels.Tasks.Single

@{
    var id = Model.Id;

    ViewData["Title"] = "View Task";
    ViewData["Actions"] = new[]
    {
        (HtmlTemplate)(@<a class="normal" asp-action="Complete" asp-route-id="@id"><i class="fas fa-check"></i>Complete</a>),
        (HtmlTemplate)(@<a class="normal" asp-action="ToDo" asp-route-id="@id"><i class="fas fa-calendar"></i>ToDo</a>),
        (HtmlTemplate)(@<a class="normal" asp-action="Edit" asp-route-id="@id"><i class="fas fa-edit"></i>Edit</a>),
        (HtmlTemplate)(@<a class="destructive" asp-action="Delete" asp-route-id="@id"><i class="fas fa-times"></i>Delete</a>),
    };

    async Task<IHtmlContent> RenderStatusIconAsync()
    {
        return await Component.InvokeAsync("StatusIcon", new { DueDate = Model.DueDate, IsCompleted = Model.IsCompleted });
    }
}

<h2 class="task-name">@Model.Name@await RenderStatusIconAsync()</h2>
<p>Due date: <span>@Model.DueDate.ToString("g")</span></p>
<p class="task-description">@Model.Description</p>